body {
  background: white; }

/* header { */
/*   position: fixed; */
/*   width: 100%; */
/*   height: ; */
/*   background: #252525; */
/*   z-index: 10; } */

nav {
  position: relative;
  text-align: right;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 100%; }

/* header img { */
/*   position: absolute; */
/*   top: 16px; */
/*   left: 13%; } */

nav ul {
  list-style: none;
  overflow: hidden;
  margin: 13px 0 18px 0; }

nav ul li {
  display: inline;
  padding: 0 16px;
  color: #f1f1f1;
  vertical-align: middle; }

nav ul li img {
  padding-right: 30px; }

nav ul li a:link, a:visited {
  padding-bottom: 9px;
  font-family: "ChivoBlack", Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  /* color: #f1f1f1; */
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
nav ul li a:link:hover, nav ul li a:link :focus, a:visited:hover, a:visited :focus {
    color: #ffd700; }

nav ul li.active {
  color: #ffd700; }

#details {
    padding-top: 80px;
}


.docmenu-sidenav {
    background-color: #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 228px;
}
.docmenu-sidenav > li > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #E5E5E5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #E5E5E5;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #E5E5E5;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #E5E5E5;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    margin-bottom: -1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
}
.docmenu-sidenav > li:first-child > a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.docmenu-sidenav > li:last-child > a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.docmenu-sidenav > .active > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 0;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 0;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: 0;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.docmenu-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.docmenu-sidenav > li > a:hover {
    background-color: #F5F5F5;
    color:#005580;
}
.docmenu-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.docmenu-sidenav .active .icon-chevron-right, .docmenu-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}
.docmenu-sidenav.affix {
    top: 40px;
}
.docmenu-sidenav.affix-bottom {
    bottom: 270px;
    position: absolute;
    top: auto;
}
.docmenu-container {
    max-width: 970px;
}
.docmenu-sidenav {
    width: 258px;
}
.docmenu-sidenav > li > a {
}

@media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }

.jumbotron:after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../img/bs-docs-masthead-pattern.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: repeat;
    background-size: auto auto;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.4;
    position: absolute;
    right: 0;
    top: 0;
}

.subhead {
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: left;
}
.jumbotron {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: linear-gradient(45deg, #020031 0%, #6D3353 100%);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    /* padding-bottom: 40px; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}

